{% extends "park_system/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-body text-white">

            <h4 class="card-title">Create an Account</h4>

            <form action="{% url 'accounts:register' %}" method="post" class="text-white">
                {% csrf_token %}

                {{ form.as_div }}

                <button class="btn btn-primary mt-3" name="submit">
                    Register
                </button>
            </form>

        </div>
    </div>

</div>
{% endblock content %}